@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1)
}

.container .left_side {
    position: relative;
    background: #003147;
    padding: 20px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    
}

.profileText .fotoperfil {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .fotoperfil img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span {
    font-size: 0.8em;
    font-weight: 30;
    font-family: 'Montserrat', sans-serif;
}

.InfoContato {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.InfoContato ul {
    position: relative;
}

.InfoContato ul li {
    position: relative;
    list-style: none;
    margin: 05px;
}

.InfoContato ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.InfoContato ul li span {
    color: #fff;
    font-weight: 300;

}

.sobre.formacao ul li {
    list-style: none;
}

.container .right_side {
    position: relative;
    background: #fff;
    padding: 40px;
}

.sobre {
    margin-bottom: 50px;
}

.sobre:last-child {
    margin-bottom: 0;
}

.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
    text-align: justify;
}

.sobre .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.sobre .box .anos {
    min-width: 150px;
}

.sobre .box .anos h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.sobre .box .text h4 {
    text-transform: uppercase;
    color: #03a9f4;
    font-size: 16px;
}